@import 'mixin.scss';
@import 'variables.scss';
$positionTop: -80px;

/********************************/
.swiper-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 500px;
}
.swiper-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}
.swiper-slide{
	height: 500px;
	width: 100%;
	text-align: center;
	font-size: 50px;
	background-size: cover !important;
	cursor: pointer;
}
.swiper-wrapper .banner{
	background-position: center;
	background-repeat: no-repeat;
}
.swiper-wrapper .banner2{
	background: url("../img/banner02.png") center no-repeat;
}
.swiper-wrapper .banner3{
	background: url("../img/banner03.png") center no-repeat;
}

/******************************/

.main {
	.container{
		width: 100%;
		padding: 0;
	}
}
.middle-block{
	border-bottom: 1px solid #ccc;
}

.middle-block .middle-block-box{
	width: 1200px;
	margin: 5px auto;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
}
.middle-block-box .mid-nav-wrap .mid-nav-item{
	margin-right: 60px;
	cursor: pointer;
}
.mid-nav-wrap .mid-nav-item a{
	color: #333;
	&:hover{
		text-decoration: none;
	}
}

/****************************/
.platform-brief{
	width: 1200px;
	margin: 0 auto;
	position:relative;
}
.platform-brief-hash{
	position: absolute;
	top: $positionTop;
}
.platform-brief .title{
	text-align: center;
	margin-top: 80px;
	position: relative;
}
.platform-brief .second-title{
	color: #979797;
	text-align: center;
}

/************************************/
.intorduction-wrap{
	margin-top: 30px;
}
.intorduction-text{
	float: left;
	width: 35%;
	font-size: 16px;
}
.intorduction-img{
	float: right;
	width: 700px;
	height: 431px;
}
.intorduction-text .intorduction-text-top{
	line-height: 30px;
	margin-bottom: 10px;
}

/************************/
.wision-wrap{
	margin-top: 30px;
	position: relative;
	z-index: 2;
}
.wision-img{
	float:left;
	width: 673px;
	height: 382px;
}
.wision-text{
	width: 40%;
	float: right;
	font-size: 16px;
}
.wision-text h4{
	font-size: 16px;
	font-weight: bold;
}
.wision-text .intelligence{
	margin-top: 30px;
}
.blue-box{
	position:absolute;
	left: -40%;
	top: 120px;
	width: 800px;
	height: 175px;
	z-index: -1;
	background-color: $theme-color;

}

/*******************************/
.company-wrap{
	margin-top: 100px;
	height: 620px;
	background-size: cover;
	color: #fff;
	@extend %rel;

	@if $isZh {
		background: url("../img/bottombg2.png") center no-repeat;
	} @else {
		background: url("../img/bottombg.png") center no-repeat;
	}
	.company-develop-hash{
        @extend %abs;
        top: $positionTop;
		left: 0;
	}
}
.company-wrap .company-develop{
	width: 1200px;
	margin: 0 auto;
}
.company-develop .title{
	margin-top: 65px;
	text-align: center;
}
.company-develop .second-title{
	text-align: center;
}
.develop-histroy{
	margin-top: 20px;
}
.develop-list-item{
	float: left;
	width: 20%;
	padding: 0 30px 0 0;
}
.develop-list-item .top-circle{
	margin: 20px auto;
	font-size: 32px;
	width: 106px;
	height: 106px;
	line-height: 106px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid #fff;
	color: #fff;
}

/*********************************/
.company-culture{
	width: 1200px;
	margin: 0 auto;
	@extend %rel;

	.company-culture-hash{
		@extend %abs;
		left: 0;
		top: $positionTop;
	}
}

.company-culture .title{
	margin-top: 65px;
	text-align: center;
}

.company-culture .second-title{
	text-align: center;
	color: #979797;
}
.company-culture .culture-detail{
	width: 500px;
	margin: 30px auto;
}
.company-culture .culture-detail h5{
	font-size: 16px;
}
.culture-img{
	width: 100%;
	margin: 40px 0 80px;
}
.culture-img .img-item{
	float: left;
	height: 280px;
	width: 290px;
}
.culture-img .img-item:not(:last-child){
	margin-right: 12px;
}
.go-top-btn {
	display: none;
	width: 50px;
	height: 50px;
	line-height: 50px;
	@extend %fixed;
	bottom: 50px;
	right: 50px;
	font-size: 36px;
	cursor: pointer;
	text-align: center;
	color: $seiper-point-bg;
}
.container1,
.container2,
.container3,
.container4,
.container5{
	display: none;
    min-height: 420px;
	background: #f8f8f8;
	@include clearfix;

	.content{
		width: 1200px;
		margin: 15px auto;
		@include clearfix;

		.left-nav{
			width: 200px;
			@extend %left;
			background: #fff;
			min-height: 400px;
            padding: 15px 0;
			@extend %rel;

			.nav-item{
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 16px;
				padding: 0 20px;

				&.active{
					color: #fff;
					background: $border-color;
				}

				&:hover{
					.my-popover{
						display: block;
					}
				}

				.my-popover{
					color: #333;
					&.hide-item{
						display: none;
					}
				}
			}
		}
		.left-nav3,
		.left-nav5{
			width: 200px;
			@extend %left;
			background: #fff;
			min-height: 400px;
			padding: 15px 0;
			.nav-item{
				width: 100%;
				height: 40px;
				line-height: 40px;
				font-size: 16px;
				padding: 0 20px;
				cursor: pointer;

				&.active{
					color: #fff;
					background: $border-color;
				}
			}
		}

		.right-content{
			@extend %right;
			width: 990px;
			margin-left: 10px;
			background: #fff;
			min-height: 700px;
			padding: 15px;

			p {
				text-indent: 2em;
				line-height: 24px;
				font-size: 16px;
			}
			img{
				display: inline-block;
				width: 80%;
				height: auto;
				margin: 10px 8%;
			}
			pre {
				white-space: pre-wrap;
				word-wrap: break-word;
			}
			video,
			audio{
				width: 80%;
				margin: 10px auto;
			}
		}
		.right-content3{
			@extend %right;
			@extend %rel;
			width: 990px;
			margin-left: 10px;
			background: #fff;
			min-height: 700px;
			box-sizing: border-box;
			padding: 0 15px;
			.list-box{
               &.hide-item{
                 display: none;
			   }
			   padding-bottom: 60px;
			}
			.detail-box{
				padding: 15px 0;

				.article-title,
				.article-time{
					text-align: center;
				}
				.detail-content{
					p {
						text-indent: 2em;
						line-height: 24px;
						font-size: 16px;
					}
					img{
						display: inline-block;
						width: 80%;
						height: auto;
						margin: 10px 8%;
					}
					pre {
						white-space: pre-wrap;
						word-wrap: break-word;
					}
					video,
					audio{
						width: 80%;
						margin: 10px auto;
					}


				}
				&.hide-item{
					display: none;
				}
			}

			.right-item3{
				height: 150px;
				padding: 15px 0;
				cursor: pointer;
				&:not(:last-child){
                  border-bottom: 1px solid #ccc;
				}
				@include clearfix;
			}
			.img-box{
				width: 180px;
				height: 120px;
				line-height: 120px;
				@include border();
				@extend %left;
				img{
					height: auto;
					max-height: 120px;
					width: 100%;
				}
			}
			.title-box{
				@extend %left;
				margin-left: 10px;
			}
			.article-title{
				margin: 10px 0;
			}
			.publish-date{
				height: 30px;
				line-height: 30px;
				margin:60px 0 0 0;

			}
            .M-box1{
				margin: 20px 0;
                @extend %abs;
				left: 15px;
				bottom: 0;

				.active{
					background: $theme-color;
					border-color: $theme-color;
				}
				&.hide-item{
					display: none;
				}
			}
		}
		.right-content5{
			@extend %right;
			width: 990px;
			margin-left: 10px;
			background: #fff;
			box-sizing: border-box;
			padding: 0 15px;
		}
		.my-popover{
			@extend %abs;
			left: 200px;
			top: 0;
			width: 840px;
			height: 400px;
			z-index: 2;
			background: #fff;
			border-top: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
			display: none;
			overflow: auto;
			@include clearfix;

			.popover-item{
				height: 150px;
				width: 120px;
				@extend %left;
				text-align: center;

				img{
					width: 90%;
					height: 120px;
				}
			}
			.product-name{
				height: 30px;
				line-height: 30px;
				text-align: center;
				margin:0;
			}
		}

	}
}

.container3{
	.content{
        background-color: #fff;
		padding: 20px 20px 60px;
		box-sizing: border-box;
		@extend %rel;
	}
	.content-list-box4{
		.content-list-item{
			height: 140px;
			box-sizing: border-box;
			padding-bottom: 20px;
			cursor: pointer;

			&:not(:last-child){
				border-bottom: 1px solid #ccc;
				margin-bottom: 20px;
			}
			.img-box4{
				width: 160px;
				height: 120px;
				box-sizing: border-box;
				@include border();
				@extend %left;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.title-box4{
				@extend %left;
				margin-left: 10px;
				width: 990px;
			}
			.content-title{
				height: 20px;
				line-height: 20px;
                margin: 10px 0;
			}
			.summary-content{
				line-height: 20px;
				height: 80px;
				margin: 0;
				@include text-ellipsis(4);
			}
		}

		&.hide-item{
			display: none;
		}
	}
	.content-detail4{
		min-height: 400px;
		&.hide-item{
			display: none;
		}

		.nav-box{
			color: $theme-color;
			cursor: pointer;
		}
		.article-title{
			text-align: center;
		}
		.detail-content{
			p {
				text-indent: 2em;
				line-height: 24px;
				font-size: 16px;
			}
			img{
				display: inline-block;
				width: 80%;
				height: auto;
				margin: 10px 8%;
			}
			pre {
				white-space: pre-wrap;
				word-wrap: break-word;
			}
			video,
			audio{
				width: 80%;
				margin: 10px auto;
			}
		}
	}
	.M-box3{
		margin: 20px 0;
		@extend %abs;
		left: 15px;
		bottom: 0;

		.active{
			background: $theme-color;
			border-color: $theme-color;
		}
		&.hide-item{
			display: none;
		}
	}
}

